.item {
  padding: 0px;
  /*margin: 0 0 0.8% 0;*/
  height: 200px;
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.link {
  flex: 0 1 24%;
  margin: 0 0 0.8% 0;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .item {
    flex: 0 1 32%;
    margin: 0 0 0.75% 0;
  }
}

@media screen and (min-width: 1024px) {
  .item {
    flex: 0 1 24%;
    margin: 0 0 0.8% 0;
  }
}

.list-item {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px;
    margin: 0px;
}

.img {
    height: 80%;
}
